$loginbackground-gradient-from: $gray-100 !default;
$loginbackground-gradient-to: $gray-300 !default;
$logincontainer-bg: $white !default;
$logincontainer-padding: 3rem !default;
$logincontainer-shadow: $box-shadow !default;
$logindivider-margin-top: 1.5rem !default;
$logindivider-margin-bottom: 1.5rem !default;
$logindivider-border: $border-color !default;
$login-identity-provider-btn-border: $border-color !default;

.pagelayout-login #region-main {
    border: 0;
    background-color: inherit;
}

.pagelayout-login #page {
    div[role="main"] {
        height: 100%;
    }
}

.login-wrapper {
    display: flex;
    justify-content: right;
    height: 100%;
}
.eye{
    position: absolute;
    top: 180px;
    right: 100px;
}
.eye_img{
    width: 30px;
}

@media screen and (max-width: 786px) {
    .login-image{
        display: none;
    }
    .login-wrapper {
        display: flex;
        justify-content: center;
        height: 100%;
    }
}

.login-container {
    background-color: $logincontainer-bg;
    padding: $logincontainer-padding;
    .login-languagemenu {
        display: flex;
        justify-content: flex-start;
        .dropdown-menu {
            max-height: 300px;
            overflow-y: auto;
        }
    }
    .login-logo {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }
    .login-divider {
        margin-top: $logindivider-margin-top;
        margin-bottom: $logindivider-margin-bottom;
        border-top: $border-width solid $logindivider-border;
    }

    h1.login-heading {
        font-size: $h2-font-size;
    }

    h2.login-heading {
        font-size: $h4-font-size;
    }
    .login-identityproviders {
        .login-identityprovider-btn {
            border: $border-width solid $login-identity-provider-btn-border;
        }
    }
    .divider {
        width: $border-width;
        background-color: $gray-300;
        height: $font-size-base * 2;
    }
    .action-menu-trigger {
        a {
            margin: 0.5rem 0;
        }
    }

    .btn-primary {
        color: white;
        background-color: rgb(208, 149, 66);
        border-color: #873c39;
        width: 100%;
    }

}

.form-control .form-control-lg::before {
    content: url('https://cdn.icon-icons.com/icons2/629/PNG/512/eye-visible-outlined-interface-symbol_icon-icons.com_57844.png');
}


@include media-breakpoint-up(md) {
    .login-container {
        max-width: 600px;
        border-radius: 0;
        @include border-radius();
    }
}


